<!doctype html>
<html>
  <head>
    <title>Check Phrase</title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1">
    <link rel="stylesheet" 
          href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" 
          />
    <link href="http://fonts.googleapis.com/css?family=Anton"
          rel="stylesheet"
          type="text/css"
          />
    <link href="http://fonts.googleapis.com/css?family=Francois+One"
          rel="stylesheet"
          type="text/css"
          />
    <link href="{{app_root}}/css/style.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{app_root}}/js/chkphrase.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
  </head>
  <body>
    <div data-role="page" id="main">
      <div data-role="header">
	<h1 class="title">Check Phrase</h1>
      </div><!-- /header -->
      <div data-role="content">
        <ul data-role="listview" data-inset="true">
	  <li><a href="#addphrase">Add Phrase</a></li>
	  <li><a href="#phrases">Approve Phrases</a></li>
	  <li><a href="#users">Manage Users</a></li>
	  <li><a href="#categories">Manage Categories</a></li>
	  <li><a href="#precategories">Manage Pre-Categories</a></li>
	  <li><a href="#genres">Manage Genres</a></li>
	  <li><a href="#difficulties">Manage Difficulties</a></li>
	  <li><a href="#packs">Manage Packs</a></li>
	</ul>
        <div id="phrase_count">
          <span class="count_container">
            <span>Total:</span>
            <span id="phrase_count_value">0</span>
          </span>
          <span class="count_container">
            <span>Approved:</span>
            <span id="phrase_approved_count">0</span>
          </span>
          <span class="count_container">
            <span>Rejected:</span>
            <span id="phrase_rejected_count">0</span>
          </span>
          <span class="count_container">
            <span>Unseen:</span>
            <span id="phrase_unseen_count">0</span>
          </span>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

<!-- Add Phrase ---------------------------------------------------------------->
    <div data-role="page" id="addphrase">
      <div data-role="header">
        <a href="#main"
           data-icon="home"
           data-iconpos="notext"
           data-direction="reverse" class="ui-btn-left jqm-home">Home</a>
	<h1 class="title">Check Phrase</h1>
      </div><!-- /header -->
      <div data-role="content">
        <input type="text" name="cur_add_phrase" id="cur_add_phrase" value="" />
        <div data-role="fieldcontain" data-type="horizontal">
          <a href="#addphrase"
             id="addphrase_add_button"
             data-role="button"
             data-inline="true"
             data-icon="plus"
             data-rel="dialog">Add</a>
          <a href="#addphrase"
             id="addphrase_clear_button"
             data-role="button"
             data-inline="true"
             data-icon="delete"
             data-rel="dialog">Clear</a>
        </div>
        <div data-role="fieldcontain">
          <div class="chooser_label">Category:</div>
	  <select name="category" id="addphrase_category_chooser">
            <option value="null">None Selected</option>
	  </select>
          <div class="chooser_label">Genre:</div>
	  <select name="genre" id="addphrase_genre_chooser">
            <option value="null">None Selected</option>
	  </select>
          <div class="chooser_label">Difficulty:</div>
	  <select name="difficulty" id="addphrase_difficulty_chooser">
            <option value="null">None Selected</option>
	  </select>
          <div class="chooser_label">Pack:</div>
	  <select name="pack" id="addphrase_pack_chooser">
            <option value="null">None Selected</option>
	  </select>
	</div>
      </div><!-- /content -->
    </div><!-- /page -->

<!-- Phrase ------------------------------------------------------------------>
    <div data-role="page" id="phrases">
      <div data-role="header">
        <a href="#main"
           data-icon="home"
           data-iconpos="notext"
           data-direction="reverse" class="ui-btn-left jqm-home">Home</a>
	<h1 class="title">Check Phrase</h1>
      </div><!-- /header -->
      <div data-role="content">
        <div id="cur_phrase" class="phrase"></div>
        <div data-role="fieldcontain" data-type="horizontal">
          <a href="#phrases"
             id="phrase_approve_button"
             data-role="button"
             data-inline="true"
             data-icon="plus"
             data-rel="dialog">Approve</a>
          <a href="#phrases"
             id="phrase_reject_button"
             data-role="button"
             data-inline="true"
             data-icon="delete"
             data-rel="dialog">Reject</a>
          <a href="#phrases"
             id="phrase_edit_button"
             data-role="button"
             data-inline="true"
             data-icon="gear"
             data-rel="dialog">Edit</a>
        </div>
        <div id="precategory"></div>
        <div class="chooser_label">Source:<span id="phrase_source"></span></div>
        <div data-role="fieldcontain">
          <div class="chooser_label">Category:</div>
	  <select name="category" id="phrase_category_chooser">
            <option value="null">None Selected</option>
	  </select>
          <div class="chooser_label">Genre:</div>
	  <select name="genre" id="phrase_genre_chooser">
            <option value="null">None Selected</option>
	  </select>
          <div class="chooser_label">Difficulty:</div>
	  <select name="difficulty" id="phrase_difficulty_chooser">
            <option value="null">None Selected</option>
	  </select>
          <div class="chooser_label">Pack:</div>
	  <select name="pack" id="phrase_pack_chooser">
            <option value="null">None Selected</option>
	  </select>
	</div>
      </div><!-- /content -->
    </div><!-- /page -->

<!-- Users ------------------------------------------------------------------->
    <div data-role="page" id="users">
      <div data-role="header">
        <a href="#main"
           data-icon="home"
           data-iconpos="notext"
           data-direction="reverse"
           class="ui-btn-left jqm-home">Home</a>
	<h1 class="title">Manage Users</h1>
      </div><!-- /header -->
      <div data-role="content">
        <div id="user_list" data-role="fieldcontain">
        </div>
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#user_dialog"
             id="user_add_button"
             data-role="button"
             data-inline="true"
             data-icon="plus"
             data-rel="dialog">Add</a>
          <a href="#user_dialog"
             id="user_edit_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="gear"
             data-rel="dialog">Edit</a>
          <a href="#users"
             id="user_delete_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="delete"
             data-rel="dialog">Delete</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

    <div data-role="page" id="user_dialog">
      <div data-role="header">
	<h1 class="title">User</h1>
      </div><!-- /header -->
      <div data-role="content">
        <label for="user_name">Name:</label>
        <input type="text" name="user_name" id="user_name" value=""
        />
        <label for="user_full_name">Full name:</label>
        <input type="text" name="user_full_name" id="user_full_name" value=""
        />
        <label for="user_password">Password:</label>
        <input type="password" name="user_password" id="user_password" value=""
        />
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#user"
             id="user_edit_okay_button"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="check">Okay</a>
          <a href="#user"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="delete">Cancel</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

<!-- Categories -------------------------------------------------------------->
    <div data-role="page" id="categories">
      <div data-role="header">
        <a href="#main"
           data-icon="home"
           data-iconpos="notext"
           data-direction="reverse"
           class="ui-btn-left jqm-home">Home</a>
	<h1 class="title">Manage Categories</h1>
      </div><!-- /header -->
      <div data-role="content">
        <div id="category_list" data-role="fieldcontain">
        </div>
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#category_dialog"
             id="category_add_button"
             data-role="button"
             data-inline="true"
             data-icon="plus"
             data-rel="dialog">Add</a>
          <a href="#category_dialog"
             id="category_edit_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="gear"
             data-rel="dialog">Edit</a>
          <a href="#categories"
             id="category_delete_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="delete"
             data-rel="dialog">Delete</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

    <div data-role="page" id="category_dialog">
      <div data-role="header">
	<h1 class="title">Category</h1>
      </div><!-- /header -->
      <div data-role="content">
        <label for="category_name">Name:</label>
        <input type="text" name="category_name" id="category_name" value=""
        />
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#category"
             id="category_edit_okay_button"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="check">Okay</a>
          <a href="#category"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="delete">Cancel</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

<!-- Precategories ----------------------------------------------------------->
    <div data-role="page" id="precategories">
      <div data-role="header">
        <a href="#main"
           data-icon="home"
           data-iconpos="notext"
           data-direction="reverse"
           class="ui-btn-left jqm-home">Home</a>
	<h1 class="title">Manage Precategories</h1>
      </div><!-- /header -->
      <div data-role="content">
        <div id="precategory_list" data-role="fieldcontain">
        </div>
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#precategory_dialog"
             id="precategory_add_button"
             data-role="button"
             data-inline="true"
             data-icon="plus"
             data-rel="dialog">Add</a>
          <a href="#precategory_dialog"
             id="precategory_edit_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="gear"
             data-rel="dialog">Edit</a>
          <a href="#precategories"
             id="precategory_delete_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="delete"
             data-rel="dialog">Delete</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

    <div data-role="page" id="precategory_dialog">
      <div data-role="header">
	<h1 class="title">Precategory</h1>
      </div><!-- /header -->
      <div data-role="content">
        <label for="precategory_name">Name:</label>
        <input type="text" name="precategory_name" id="precategory_name" value=""
        />
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#precategory"
             id="precategory_edit_okay_button"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="check">Okay</a>
          <a href="#precategory"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="delete">Cancel</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

<!-- Genres ------------------------------------------------------------------>
    <div data-role="page" id="genres">
      <div data-role="header">
        <a href="#main"
           data-icon="home"
           data-iconpos="notext"
           data-direction="reverse"
           class="ui-btn-left jqm-home">Home</a>
	<h1 class="title">Manage Genres</h1>
      </div><!-- /header -->
      <div data-role="content">
        <div id="genre_list" data-role="fieldcontain">
        </div>
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#genre_dialog"
             id="genre_add_button"
             data-role="button"
             data-inline="true"
             data-icon="plus"
             data-rel="dialog">Add</a>
          <a href="#genre_dialog"
             id="genre_edit_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="gear"
             data-rel="dialog">Edit</a>
          <a href="#genres"
             id="genre_delete_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="delete"
             data-rel="dialog">Delete</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

    <div data-role="page" id="genre_dialog">
      <div data-role="header">
	<h1 class="title">Genre</h1>
      </div><!-- /header -->
      <div data-role="content">
        <label for="genre_name">Name:</label>
        <input type="text" name="genre_name" id="genre_name" value=""
        />
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#genre"
             id="genre_edit_okay_button"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="check">Okay</a>
          <a href="#genre"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="delete">Cancel</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

<!-- Difficulties ------------------------------------------------------------>
    <div data-role="page" id="difficulties">
      <div data-role="header">
        <a href="#main"
           data-icon="home"
           data-iconpos="notext"
           data-direction="reverse"
           class="ui-btn-left jqm-home">Home</a>
	<h1 class="title">Manage Difficulties</h1>
      </div><!-- /header -->
      <div data-role="content">
        <div id="difficulty_list" data-role="fieldcontain">
        </div>
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#difficulty_dialog"
             id="difficulty_add_button"
             data-role="button"
             data-inline="true"
             data-icon="plus"
             data-rel="dialog">Add</a>
          <a href="#difficulty_dialog"
             id="difficulty_edit_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="gear"
             data-rel="dialog">Edit</a>
          <a href="#difficulties"
             id="difficulty_delete_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="delete"
             data-rel="dialog">Delete</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

    <div data-role="page" id="difficulty_dialog">
      <div data-role="header">
	<h1 class="title">Difficulty</h1>
      </div><!-- /header -->
      <div data-role="content">
        <label for="difficulty_name">Name:</label>
        <input type="text" name="difficulty_name" id="difficulty_name" value=""
        />
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#difficulty"
             id="difficulty_edit_okay_button"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="check">Okay</a>
          <a href="#difficulty"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="delete">Cancel</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

<!-- Packs ------------------------------------------------------------------>
    <div data-role="page" id="packs">
      <div data-role="header">
        <a href="#main"
           data-icon="home"
           data-iconpos="notext"
           data-direction="reverse"
           class="ui-btn-left jqm-home">Home</a>
	<h1 class="title">Manage Packs</h1>
      </div><!-- /header -->
      <div data-role="content">
        <div id="pack_list" data-role="fieldcontain">
        </div>
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#pack_dialog"
             id="pack_add_button"
             data-role="button"
             data-inline="true"
             data-icon="plus"
             data-rel="dialog">Add</a>
          <a href="#pack_dialog"
             id="pack_edit_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="gear"
             data-rel="dialog">Edit</a>
          <a href="#packs"
             id="pack_delete_button"
             class="ui-disabled"
             data-role="button"
             data-inline="true"
             data-icon="delete"
             data-rel="dialog">Delete</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

    <div data-role="page" id="pack_dialog">
      <div data-role="header">
	<h1 class="title">Pack</h1>
      </div><!-- /header -->
      <div data-role="content">
        <label for="pack_name">Name:</label>
        <input type="text" name="pack_name" id="pack_name" value=""
        />
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#pack"
             id="pack_edit_okay_button"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="check">Okay</a>
          <a href="#pack"
             data-rel="back"
             data-role="button"
             data-inline="true"
             data-icon="delete">Cancel</a>
        </div>
      </div><!-- /content -->
    </div><!-- /page -->

  </body>
</html>
